attrs==22.2.0
black==23.1.0
blessed==1.20.0
bpython==0.24
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
-e git+ssh://git@github.com/teleprint-me/coinbase.git@acb23751f410724e3d4ad1a878db9f3245a4e419#egg=coinbase
curtsies==0.4.1
cwcwidth==0.1.8
exceptiongroup==1.1.0
flake8==6.0.0
flake8-black==0.3.6
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
iso8601==1.1.0
Jinja2==3.1.2
MarkupSafe==2.1.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.0
pdoc==12.3.1
platformdirs==3.0.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pyxdg==0.28
requests==2.28.2
six==1.16.0
tomli==2.0.1
urllib3==1.26.14
wcwidth==0.2.6
websocket-client==1.5.1
